.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  margin: -1000000px;
}
.skip a:focus{
  margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr 0.5fr;
    overflow: hidden;
  
  }

  header{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    position: fixed;
    text-align: center;
    display: none;
  }

  #headshot{
    grid-column: 1/span 1;
    grid-row: 1/span 2;

  }

  #library, #research, #professional, #contactinfo{
    grid-column: 1/span 1;
    grid-row: 1/span 1;

  }
  
  #contactinfo{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
  }

  #headshot img, #library img, #research img, #professional img,  #leadership img, #contact img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    margin: 0px;
  }



  body{
    background-color: #ffcb0c;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-family: "Spartan";
    line-height: 1.6;
  }

  #bio, #eduinfo{
    text-align: center;
    margin-top: 20px;
  }

  #eduinfo, #researchinfo, #professonalinfo, #leadershipinfo{
    grid-row: 2/span 1;
  }
  #researchinfo p, #professionalinfo p, #leadershipinfo p{
    text-align: left;
    margin-top: 2px;
    font-size: 15px;
  }

  #contactinfo h1{
    font-size: 100px;
    font-family: "Cabin Sketch", cursive;
  }

  ul {
    text-align: left;
  }

  footer{
    background-color: black;
    color: white;
  }

  footer p{
    text-align: left;
    margin: auto;
    padding: 15px;
  }
  #edufooter{
    grid-row: 4/span 1;
    margin-top: 15px;
  }

  /* Style the navigation menu */
  /* sources: */
  .menuButton,  .contactMenuButton{
    background-image: url("../images/yellow-menu.png");
    object-fit: cover;
    width: 100px;
    height: 70px;
    background-size: 100% 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }  
  .contactMenuButton{
    border: 5px solid black;
  }
  .menuButton:hover, .menuButton:focus {
    background-color: #2980B9;
  }
  .dropdown {
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* gallery animation
sources: https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp,
http://css3.bradshawenterprises.com/cfimg/ */

@keyframes galleryFade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#gallery img:nth-of-type(1) {
  animation-delay: 6s;
}
#gallery img:nth-of-type(2) {
  animation-delay: 4s;
}
#gallery img:nth-of-type(3) {
  animation-delay: 2s;
}

#gallery {
  display: grid;
  grid-row: 2/span 1;
  grid-column: 1/span 1;


}

#gallery img{
  /* max-width: 80%;
  max-height: 80%; */

  filter: grayscale(100%);
  margin: 0 auto;
  position:absolute;
  left: 25%;

  height: 600px;
  width: 600px;

  animation-name: galleryFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;

}

@media all and (min-width: 700px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5fr 1fr;
        overflow: hidden;
        align-items: center;
      
    }
    #headshot{
        grid-column: 1/span 1;
        grid-row: 1/span 1;
        
    }
    p {
      margin: auto
    }
    footer{
      grid-column: 1/span 2;
      grid-row: 2/span 1;
      background-size: 100% 100%;
    }
    .dropdown {

      right: 0;

    }

@media all and (min-width: 1200px){
  .container{
      
  }
  #headshot{

  }

}